{% extends "base.html" %}
{% block content %}

<style>
  @media (max-width: 524px) {
  .back-btn {
    display: none !important;
  }
}
</style>

<div class="container">
  
  <div class="w-100 back-btn">
    {% if id %}
    <a href="{% url 'entry' id %}" class="btn btn-light py-2 my-1">Back</a>
    {% else %}
    <a href="{% url 'home' %}" class="btn btn-light py-2 my-1">Back</a>
    {% endif %}
  </div>

  {% if messages %}
  {% for message in messages %}
  <p class="text-success">{{message}}</p>
  {% endfor %}
  {% endif %}
  <h1 class="my-2">Basic information</h1>

  <form method="POST" enctype="multipart/form-data" class="mb-3">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-dark my-1" type="submit" value="Submit" />
    {% if hasPhoto %}
    <a href="{% url 'delete_photo' id %}" class="btn btn-warning my-1">Delete Photo</a>
    {% endif %}
  </form>

</div>
{% endblock %}