{% extends "base.html" %}
{% block content %}

<div class="w-100">
  {% if id %}
  <a href="{% url 'entry' id %}" class="btn btn-light mt-3 ms-3">Back</a>
  {% else %}
  <a href="{% url 'home' %}" class="btn btn-light mt-3 ms-3">Back</a>
  {% endif %}
</div>

<div class="container">
  {% if messages %}
  {% for message in messages %}
  <p class="text-success">{{message}}</p>
  {% endfor %}
  {% endif %}
  <h1>Basic information</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-dark" type="submit" value="Submit"/>
    {% if hasPhoto %}
    <a href="{% url 'delete_photo' id %}" class="btn btn-warning">Delete Photo</a>
    {% endif %}

  </form>
</div>
{% endblock %}