{% extends "base.html" %}
{% load static thumbnail %}
{% block content %}
  <div class="container my-3 d-flex flex-column text-center">
    <div class="delete-preview mb-5">
      <h1 class="my-2">Feeding schedule for {{ entry.name }}</h1>
      {% if entry.photo %}
        {% thumbnail entry.photo "500x500" crop="center" as im %}
        <img class="rounded photo drop-shadow"
             src="{{ im.url }}"
             alt="" />
      {% endthumbnail %}
    {% else %}
      <img class="rounded photo drop-shadow"
           height="500px"
           width="500px"
           src="{% static 'images/default.jpg' %}"
           alt="" />
    {% endif %}
  </div>
  <form method="POST" class="mb-5">
    {% csrf_token %}
    <p>Are you sure you want to delete the feeding schedule for this entry?</p>
    <a href="{% url 'home' %}" class="btn btn-dark">Cancel</a>
    <input class="btn btn-danger" type="submit" value="Delete" />
  </form>
</div>
{% endblock %}
