{% extends "base.html" %}
{% load static thumbnail %}
{% block content %}
<style>
  .content {
    flex-direction: row; 
    justify-content: space-between;
  }

  @media (max-width: 992px) {
    .content {
    flex-direction: column; 
    /* justify-content: space-between; */
  }
  .info {
    padding: 0 !important;
  }
  .photo {
    margin: 0 auto;
  }
  .menu_options {
    width: fit-content;
  }
  }

  @media (max-width: 524px) {
    .photo {
      width: 351px;
    }
  }
</style>

<div class="w-100">
  <a href="{% url 'home' %}" class="btn btn-light mt-3 ms-3">Back</a>
</div>
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <p class="text-success">{{message}}</p>
  {% endfor %}
  {% endif %}
  <h1>{{entry.name}}</h1>
  <div class="content" style="display: flex; text-align: left;">

    <div>
      {% if entry.photo %}
      {% thumbnail entry.photo "500x500" crop="center" as im %}
      <img class="photo rounded" src="{{im.url}}" style="box-shadow: 5px 5px 20px #999;" alt=""/>
      {% endthumbnail %}
      {% else %}
      <!-- <h1>No photo</h1> -->
      <img class="rounded" height="500px" width="500px" src="{% static 'images/default.jpg' %}" style="box-shadow: 5px 5px 20px #999;" alt="" />
      {% endif %} 
      <table class="table w-100">
        <tbody>
          <tr class="table-light align-middle">
            <th scope="row" class="col-6" style="font-size: 1.2rem">Options</th>
            <td>
              <div class="menu_options d-flex flex-row gap-3 justify-content-end">
                <a href="{% url 'edit' entry.id %}" title="Edit basic information">
                  <i class="fa-regular fa-pen-to-square text-secondary"></i>
                </a>
                <a href="{% url 'schedule' entry.id %}" title="Create or change a feeding schedule">
                  <i class="fa-regular fa-calendar text-secondary"></i>
                </a>
                <a href="{% url 'notes' entry.id %}" title="View notes">
                  <i class="fa-regular fa-note-sticky text-secondary"></i>
                </a>
                <a href="{% url 'delete' entry.id %}">
                  <i class="fa-regular fa-trash-can text-secondary" title="Delete this entry"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="info px-5 w-100">
      <table class="table table-hover">
        <tbody>
          <tr class="table-light align-middle">
            <th scope="row" class="col-6" style="font-size: 1.2rem">Common name</th>
            <td>{{entry.common_name}}</td>
          </tr>
          <tr class="table-light align-middle">
            <th scope="row" class="col-6" style="font-size: 1.2rem">Species</th>
            <td>{{entry.species}}</td>
          </tr>
          <tr class="table-light align-middle">
            <th scope="row" class="col-6" style="font-size: 1.2rem">Date acquired</th>
            <td>{{entry.date_acquired}}</td>
          </tr>
          <tr class="table-light align-middle">
            <th scope="row" class="col-6" style="font-size: 1.2rem">Acquired from</th>
            <td>{{entry.acquired_from}}</td>
          </tr>
          {% if feeding_schedule.food_type %}
          <tr class="table-light align-middle">
            <th scope="row" class="col-6" style="font-size: 1.2rem">Food type</th>
            <td>
              {{feeding_schedule.food_type}} 
              {% if feeding_schedule.food_quantity %}
                (x{{feeding_schedule.food_quantity}})
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% if feeding_schedule.last_fed_date %}
          <tr class="table-light align-middle">
            <th scope="row" class="col-6" style="font-size: 1.2rem">Last fed date</th>
            <td>{{feeding_schedule.last_fed_date}}</td>
          </tr>
          {% endif %}
          {% if feeding_schedule.next_feed_date %}
          <tr class="table-light align-middle" style="border-bottom-style: hidden">
            <th scope="row" class="col-6" style="font-size: 1.2rem">Next feed date</th>
            <td>{{feeding_schedule.next_feed_date}}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>


  

  <!-- can row up the first few previews from the gallery -->
  <!-- <div class="additional_photos">
    {% thumbnail entry.photo "100x100" crop="center" as im %}
    <img class="rounded" src="{{im.url}}" style="box-shadow: 5px 5px 20px #999;" alt=""/>
    {% endthumbnail %}
  </div> -->

  <!-- <video class="rounded" width="320" controls>
    <source src="{{MEDIA_URL}}{{entry.video}}" type="video/mp4" />
  </video> -->

</div>

{% endblock %}