asgiref==3.6.0
async-timeout==4.0.2
certifi==2022.12.7
charset-normalizer==3.1.0
cloudinary==1.33.0
Django==4.2
django-cloudinary-storage==0.3.0
django-cors-headers==4.0.0
django-embed-video==1.4.8
django-extensions==3.2.1
django-icons==23.1
django-redis==5.2.0
gunicorn==20.1.0
hiredis==2.2.3
idna==3.4
Pillow==9.5.0
psycopg2==2.9.6
pymemcache==4.0.0
python-dotenv==1.0.0
python-memcached==1.59
pytz==2023.3
railway==0.0.4
redis==4.5.5
redis-cli==0.1.2
requests==2.29.0
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.4
static3==0.7.0
tzdata==2023.3
urllib3==1.26.15
whitenoise==6.4.0